@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

.sign-up {
  background-color: #fff;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid gray;
  font: size 1rem;
  font-family: inherit;
}

button {
  padding: 0.5rem;
  background-color: tomato;
  border: none;
  font-size: 1.2rem;
  color: #fff;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.thank_you_message {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
